<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>

  <name replace-wildcards="yes">exopod - __POD__ - %h</name>
  <service>
    <type>_exocortex_pod._tcp</type>
    <port>14242</port>
  </service>
</service-group>

